langchain==0.3.0
langchain-community==0.3.0
langchain-text-splitters==0.3.0
langchain-core==0.3.0
langchain-openai==0.2.0
python-dotenv==1.0.1
zhipuai==2.1.5.20250106
qianfan==0.4.12.3
unstructured==0.16.23
pymupdf==1.25.3
markdown==3.7
streamlit==1.43.0
jieba==0.42.1
pydantic==2.10.6
openai>=1.55.0
qdrant-client==1.11.1
neo4j==5.25.0
rank-bm25==0.2.2
pyyaml==6.0.2
sentence-transformers==3.2.1
Pillow==11.0.0
fastapi==0.115.8
uvicorn==0.34.0
jinja2==3.1.5
python-multipart==0.0.20
